<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory/item">All Items</a></li>
        <li><a href="/inventory/category">All Categories</a></li>
    </ul>
    <ul>
        <li><a href="/inventory/item/create">New Item</a></li>
        <li><a href="/inventory/category/create">New Category</a></li>
    </ul>
</nav>